
<div class="container">
    <div class="row ">
        <div class="col-md-6">
           
        <app-secondcom>
            <h5 class="card-title">Mobile</h5>
            <a routerLink="laptop" class="btn btn-primary"> Mobile</a>
        </app-secondcom>
        </div>
        <div class="col-md-6">
            <app-secondcom>
                <h5 class="card-title">Laptop</h5>
                <a routerLink="laptop" class="btn btn-primary"> Laptop</a>
            </app-secondcom>
        </div>
        <div class="col-md-6">
            <app-secondcom>
                <h5 class="card-title">TV</h5>
                <a routerLink="laptop" class="btn btn-primary">TV</a>
            </app-secondcom>
        </div>
        <div class="col-md-6">
            <app-secondcom>
                <h5 class="card-title">Car</h5>
                <a routerLink="laptop" class="btn btn-primary">Car</a>
            </app-secondcom>
        </div>
        
    </div>
    <!-- <div class="row">
        <div class="col-md-12 bg-info py-4 text-center text-white">
            <h4 *ngIf="!ProductSelected">Please Select Product</h4>
            <h4 *ngIf="ProductSelected">Selected Product</h4>
            <button class="btn btn-danger">Add to Cart</button>
        </div>
    </div> -->
</div>