<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left bg-light rounded shadow py-4">

            <form>
                <div class="mb-3 text-center">
                    <h1 class="text-primary">Login</h1>
                </div>
                <div class="mb-3">
                  <label for="text" class="form-label">Email address</label>
                  <input type="text"  #username class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="Login(username)">Submit</button>
              </form>
              <a routerLink="/register">New User? Create new account</a>
        </div>
    </div>
</div>
