<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 text-left">
            <div class="custom-dropdown">
                <span class="dropdowm-header " [ngClass]="'active'">
                    My DropDown
                </span>
                <div class="dropdown-content">
                    <a href="#">Item1</a>
                    <a href="#">Item1</a>
                    <a href="#">Item1</a>
                </div>
            </div>
        </div>
    </div>
   
</div>
