.dropdowm-header
{
    display: block;
    border: 1px solid rgb(216, 208, 208);
    text-align: left;
    padding: 8px;
    line-height: 1.2;
    /* margin: 20px; */
    position: relative;

}
.dropdowm-header::after
{
    content: '';
    height: 12px;
    width: 12px;
    position: absolute;
    right: 9px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
}

.dropdown-content
{
    border: 1px solid #d5bebe;
    /* width: auto;
     */
     display: none;
}
.dropdowm-header .showList + .dropdown-content
{
    display: block;
}
.dropdown-content a{
    display: block;
    text-align: left;
    padding: 5px 12px;
}
.dropdown-content a:hover
{
    text-decoration: none;
    background-color: #fdfafa;
}