.classcolor
{
    color: red;
}
.classstyle
{
    font-style: italic;
    font-weight: 700;
}
.classsize
{
    font-size: larger;
}
.box
{
    font-size: large;
    padding-left: 20px;
    margin-right: 20px;
}
.box1
{
    width: 500px;
    height: 100px;
    background-color: brown;
}