<!-- <app-databinding></app-databinding> -->
<!-- <app-proprrtybinding></app-proprrtybinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-templatr-reference></app-templatr-reference> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<br>

<hr>
<hr>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="
    {exact:true}" routerLink="/home">Home</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/directive">Directive</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/about"> About</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/contact">Contact</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/pushdata">Push data</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/ngcontent">Ng-Content</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/databinding">Data Binding</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/propertybinding">Property Binding</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/eventbinding">Event Binding</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/templatereference">Template-Reference</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/twowaybinding">To way Binding</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/products">Products</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/buyproduct">Buy Products</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/exercise1">Exercise1</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/component-communication">Component-Comminication</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/lifecycle">LifeCycleHooks</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/task1">Task1</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/tempForm">TempForm</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/reactiveForm">ReactiveForm</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/rForm">RForm</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/crud">CRUD</a></li>
    <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="/loginapp">Login App</a></li>
    

    
  </ul>
  <br>
  <hr>
  <br>
  <!-- <app-login></app-login> -->
  <router-outlet></router-outlet>
</div>