<!-- <div class="row py-5 bg-success text-white">
    <div class="col-md-6 d-flex align-items-center justify-content:space-between">

        <input type="text" placeholder="Enter user name" name="" class="form-control w-50 text-center">&nbsp;&nbsp;
        <button class="btn bg-light">Add Users</button>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content:space-between">
    
        <input type="text" placeholder="" name="" class="form-control w-50 text-center">&nbsp;&nbsp;
        <button class="btn bg-light">Add Admin</button>
    </div>
</div> -->
<div class="box text-center "[ngClass]="{boxRed:boxColor=='red',boxGreen:boxColor=='Green'}">
    <input type="text" #myInput placeholder="{{placeholder}}">

    <button class="text-center text-white mt-4" (click)="onCreate(myInput)">Add User</button>
    <div class="count mt-4" *ngIf="count">Total Count {{count}}</div>
</div>