<div class="shadow">
    <div class="card" style="width: 18rem;" appHostDirective>
        <img src="../../assets//product03.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product}}</h5>
          <!-- <h4>{{product.id}}</h4> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="laptop" class="btn btn-primary" >Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;" appHostDirective>
        <img src="../../assets//product03.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TV</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="tv" class="btn btn-primary" >Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;" appHostDirective>
        <img src="../../assets//product03.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">washing machine</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="laptop" class="btn btn-primary" >Go somewhere</a>
        </div>
      </div>
</div>

